@import url('./errormessage-media.css');

#err_div {
    position: fixed;
    right: 2%;
    top: 7%;
    user-select: none;
}

#err_div div {
    position: relative;
    display: grid;
    padding: 10px 30px;
    box-shadow: 0px 3px 20px #2020208f;
    border-radius: 2px;
    transition: .6s ease-in-out;
    margin: 10px 0;
}

.error_message {
    color: var(--white);
    background: var(--red);
}

.warn_message {
    background: var(--yellow);
}

.general_message {
    background: var(--white);
}

.error_message p,
.warn_message p,
.general_message p {
    font-size: 1.3rem;
    font-weight: 900;
    text-align: center;
    margin: 2px;
}