@media only screen and (max-width: 1151px) {
    .startseite_body {
        width: 100% !important;
    }
}

@media only screen and (max-width: 1060px) {
    body > main > section > main > header {
        display: inline-block !important;
    }
    body > main > section > main > header div {
        width: 100% !important;
    }
    .tablelist {
        width: 100%;
    }
}

@media only screen and (max-width: 992px) {
    body > main > section > header {
        display: inline-block !important;
    }
}

@media only screen and (max-width: 768px) {
    .startseite_section header {
        display: block !important;
    }
    .startseite_section header div:last-child {
        width: 80%;
    }
    .startseite_tab_select div {
        width: auto !important;
    }
    .tab {
        display: block;
    }
    .pl_button_wrapper {
       float: left !important;
       display: block;
       margin: 0 50%;
    }
}

@media only screen and (max-width: 536px) {
    .tab-33 {
        width: 80%;
    }
}

@media only screen and (max-width: 634px) {
    body > main > section > header {
        display: block !important;
    }
    body > main > section > header > div:nth-child(2) {
        width: 100% !important;
    }
}

@media only screen and (max-width: 425px) {
    main section header div{
        width: 100%;
    }
}