@import url('nav-tm-media.css');

nav {
    background: var(--tmtabs);
    height: 100vh;
    width: 17%;
    float: left;
}

.navheader {
    display: grid;
    justify-content: center;
    align-content: center;
}

.profilbild {
    white-space: pre-line;
    margin: 30px 0 0 40px;
    border-radius: 50px;
    transition: 0.2s ease-in-out;
    width: 40%;
    margin: 20px auto;
}

.profilbild:hover {
    box-shadow: var(--boxshadow);
}

.profilname {
    margin: -10px 0 0 0;
    white-space: pre-line;
}

.profilname span:nth-child(2) {
    color: rgb(131, 131, 131);
    white-space: pre-line;
}

.profilname:after {
    content: "";
    display: block;
    margin: 20px 0 0 0;
    width: 180px;
    height: 1px;
    background: #707070;
}

.nav_main {
    margin-top: 50px;
    height: 65vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

.nav_main::-webkit-scrollbar {
    width: 0;
}

.nav-link {
    margin: 3px 0;
    border-left: 0px solid var(--organgenav);
    display: inline-flex;
    align-items: center;
    height: 50px; width: 100%;
    background-color: #15171A;
}

.nav-link span {
    float: left;
    width: 50%;
    margin: 0 0 0 20px;
}

.nav-link img {
    float: right;
    width: auto;
    margin: 0 10px 0 30px;
}

.nav-img img {
    width: 40px;
}

.nav-link:hover {
    border-left: 10px solid var(--organgenav);
}

.navactive {
    border-left: 10px solid var(--organgenav);
}

.nav_bottom {
    display: flex;
    align-items: center;
    position: absolute;
    left: 10%;
    transform: translateX(-65%);
    bottom: 0;
}

.logout {
    left: 200px;
    bottom: 62px;
    cursor: pointer;
}

.logout img {
    width: 40px;
}

.mode_switcher {
    margin: 20px 20px;
}

.switch {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 70px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.mode_switcher input:checked+.slider {
    background-color: #000000;
}

.mode_switcher input:focus+.slider {
    box-shadow: 0 0 1px #2196f3;
}

.mode_switcher input:checked+.slider:before {
    -webkit-transform: translateX(35px);
    -ms-transform: translateX(35px);
    transform: translateX(35px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.mode_switcher .switch input[type="checkbox"]:checked ~ .dark {
    opacity: 1;
}

.mode_switcher .switch input[type="checkbox"]:not(:checked) ~ .light {
    opacity: 1;
}

.light img,
.dark img {
    position: absolute;
    width: 30px;
}

.light,
.dark {
    user-select: none;
    opacity: 0;
}

.light img {
    left: 40px;
    top: 2px;
}

.dark img {
    left: 2px;
    top: 2px;
}

/*? */

/*! MAIN */

.infobar {
    height: 50px;
    padding: 2px 50px;
    background: var(--organgenav);
    font-size: 1.8em;
    width: 100vw;
    z-index: 9;
}