@media only screen and (max-width: 1151px) {
    .apply_section {
        width: 100% !important;
    }
    .apply_section main {
        width: 96%;
    }
    .player_infotable {
        width: 90% !important;
        transform: translateX(50%) !important;
    }
}

@media only screen and (max-width: 883px) {
    .applylist tr th {
        padding: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .apply_section header {
        display: inline-grid !important;
    }

    .apply_section > header > div:nth-child(2){
        width: 100% !important;
    }

    .apply_section > header > div {
        display: inline-flex;
        justify-content: space-between;
    }

    .apply_section > main > div:nth-child(1) {
        display: inline-flex;
        justify-content: space-between;
    }

    .applylist.tab {
        padding: 10px 20px !important;
    }

    .applylist table th {
        padding: 10px;
        text-align: left;
    }

    .player_infotable {
        width: 95% !important;
        transform: translateX(50%) !important;
    }
}

@media only screen and (max-width: 542px) {
    .apply_section > main > div:nth-child(1) a:nth-child(1){
        margin-top: 20px;
    }

    .apply_section > header > div {
        display: contents !important;
        justify-content: space-between !important;
    }

    .apply_section > header > div .tab,
    .apply_section > main >div:nth-child(1) .tab,
    .applylist {
        margin: 5px 10px !important;
    }
    .applylist {
        width: 100% !important;
        margin: 40px 10px !important; 
    }
    .site_name {
        font-size: 3.4vw !important;
    }
}